
certbot/*
ssl/

.idea
auth/.DS_Store
auth/providers/.DS_Store

src/www/acdlp-mensuel/server/php/log/*.log
src/www/acdlp-mensuel/server/php/log/bdd_errors.log

.env
.htpasswd

mysql/bkp/*

# Ignorer le contenu du répertoire des reçus fiscaux
src/www/acdlp/server/node/pdf/**
!src/www/acdlp/server/node/pdf/.gitkeep


node_modules/
.DS_Store
.vscode/tasks.json

# Fichiers locaux perso
WORKFLOW-LOCAL.md