
certbot/conf/accounts/acme-staging-v02.api.letsencrypt.org/directory/0412c77a1d3b32043e9ffb873ac88845/meta.json
certbot/conf/accounts/acme-v02.api.letsencrypt.org/directory/0990a929ddd3a8514ddd8b0291c2bedd/meta.json
certbot/conf/live/ms.aucoeurdelaprecarite.com/fullchain.pem
certbot/conf/live/ms.aucoeurdelaprecarite.com/privkey.pem
certbot/*

.idea
auth/.DS_Store
auth/providers/.DS_Store

src/www/acdlp-mensuel/server/php/log/*.log
certbot/conf/live/www.myamana.fr-0001/cert.pem
certbot/conf/live/www.myamana.fr-0001/chain.pem
certbot/conf/live/www.myamana.fr-0001/fullchain.pem
certbot/conf/live/www.myamana.fr-0001/privkey.pem
src/www/acdlp-mensuel/server/php/log/bdd_errors.log

certbot/conf/live/www.dev.myamana.fr-0001/cert.pem
certbot/conf/live/www.dev.myamana.fr-0001/chain.pem
certbot/conf/live/www.dev.myamana.fr-0001/fullchain.pem
certbot/conf/live/www.dev.myamana.fr-0001/privkey.pem

.env
.htpasswd

mysql/bkp/*

# Ignorer le contenu du répertoire des reçus fiscaux
src/www/myamana/server/node/pdf/**
!src/www/myamana/server/node/pdf/.gitkeep


node_modules/
.DS_Store
.vscode/tasks.json

# Fichiers locaux perso
WORKFLOW-LOCAL.md