@if(!isMailSent) {
<form (ngSubmit)="onSubmit()">
  <div style="margin-top: 20px;">
    <label for="email">Adresse email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />
  </div>
  
  <!-- Ajout de marge entre le champ et le bouton -->
  <div style="margin-top: 20px;">
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Envoyer</app-button>
  </div>
</form>
} @else {
  <app-confirmation
    [message]="'Un mail vous a été envoyé pour ré-initialiser votre mot de passe. Si vous ne le trouvez pas, vérifiez dans vos spams :)'"></app-confirmation>
  }