server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: myamana-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: acdlp-api
          __path__: /var/log/acdlp/*.log
    
    pipeline_stages:
      - json:
          expressions:
            level: level
            message: message
            timestamp: timestamp
            url: url
            method: method
            statusCode: statusCode
            responseTime: responseTime
      - labels:
          level:
      - timestamp:
          source: timestamp
          format: "2006-01-02 15:04:05"
