<div class="flex h-fit w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
    </div>
  </div>
      
  <div class="w-full lg:w-1/2 flex items-center justify-center">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold text-center mb-8">Devenir bénévole</h1>
      <div class="flex justify-center">
        <a routerLink="au-coeur-de-la-precarite" class="btn-donation">S'inscrire</a>
      </div>
    </div>
  </div>
</div>
